.App {
  position:relative;

}
.root{
  position: relative;
}

.btn {
  display: inline-block;
  background: rgb(9, 8, 54);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  
}

.users{
  display: inline-block;
  box-sizing: content-box;
  margin: 10px;
  padding: 10px;
  border : 1px solid rgb(105, 104, 104);
  border-radius: 5%;

}

*{
  margin:0;
  padding:0px;
  text-align: left;
}

